<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/data/output.css">
    <link rel="stylesheet" href="/data/css/general.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Keania+One&family=Source+Code+Pro&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@600&family=IBM+Plex+Sans:wght@500&family=Keania+One&family=Montserrat:wght@600&family=Source+Code+Pro&display=swap" rel="stylesheet">
    <title>OpenSpace</title>
</head>
<body>
    <div style="background: linear-gradient(180deg, #04071A 19%, rgba(9.54, 3.93, 25.50, 0.76) 100%)" class="text-white">
{{!-- full  --}}
                 
        <div>
            {{!-- landing page  --}}
                <div class="margin-fixed flex flex-col h-screen">
                    {{!-- Header  --}}
                    <div><h1 class="text-[40px] font-semibold tracking-[2px]">Open<span id="header-text">Space</span></h1></div>

                    {{!-- join text  --}}
                    <div class="flex flex-col justify-center items-center gap-y-[40px]">
                        <h1 class="text-[180px] plex-sans font-bold" style="word-spacing: -50px;">Join Now</h1>
                        <p class="plex-sans text-[30px] text-[#8C8C8C] text-center">Find like minded people for your open <br> science and open-source project</p>
                        
                        <a href="/signup" class="bg-white rounded-md text-black w-[200px] p-[15px] px-[20px] text-center plex-sans font-bold text-[20px] ">Sign up</a>

                        <a class="underline plex-sans text-[20px]" href="/login">Login</a>
                    </div>
                </div>
            {{!-- landing page  --}}
        </div>

            {{!-- down PAGE  --}}
            <div class="h-screen">
                <div class="margin-fixed pl-[200px] flex flex-col justify-around h-full">
                        <div> <h1 class="text-[80px] font-semibold leading-[100px]">Things you can do on <br><span class="tracking-[2px]">Open<span id="header-text">Space</span></span>👇🏻</h1></div>

                        <div class="flex flex-col gap-8">
                            <h3 class="text-[35px] mont font-bold"><span class="text-[#30DD42]">Learn</span> by doing and taking inspiration <br> from other </h3>
                            <h3 class="text-[35px] mont font-bold"> Talk to people about design, <br> marketing, web3, and a lot more!</h3>
                            <h3 class="text-[35px] mont font-bold"><span class="text-[#30DD42]">Upskill</span> by participating in Open source <br> projects and open Science Projects.</h3>
                        </div>
                    
                </div>
            </div>
            {{!-- down PAGE  --}}


             {{!-- down PAGE  --}}
            <div class="h-screen">
                <div class="margin-fixed pl-[200px] flex flex-col justify-around h-full">
                        <div class="flex flex-col gap-10">
                            <h3 class="text-[35px] mont font-bold"><span class="text-[#0249FE] font-bold">Network</span> with Smart people</h3>
                            <h3 class="text-[35px] mont font-bold">Great things happen when great people <br> come together. It's magic!</h3>
                            <h3 class="text-[35px] mont font-bold">onnect with a diverse community of creative minds to network, share ideas, and <br> gain valuable insights into your skill.</h3>
                        </div>
                    
                </div>
            </div>
            {{!-- down PAGE  --}}


         {{!-- down PAGE  --}}
            <div class="h-screen">
                <div class="margin-fixed pl-[200px] flex flex-col justify-around h-full">
                        <div class="flex flex-col gap-10">
                            <h3 class="text-[35px] mont font-bold"><span class="text-[40px] font-semibold tracking-[2px]">Open<span id="header-text">Space</span></span> is an innovative online <br> platform that serves as a dynamic <br> marketplace.</h3>
                            <h3 class="text-[35px] mont font-bold">Bringing together passionate <br> contributors and visionary project <br> creators in the realm of open-source <br> initiatives. </h3>
                        </div>
                    
                </div>
            </div>
            {{!-- down PAGE  --}}

        </div>

{{!-- full  --}}
</div>
</body>
</html>