<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/data/output.css">
    <link rel="stylesheet" href="/data/css/general.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Keania+One&family=Source+Code+Pro&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@600&family=IBM+Plex+Sans:wght@500&family=Keania+One&family=Montserrat:wght@600&family=Source+Code+Pro&display=swap" rel="stylesheet">
    <title>OpenSpace</title>
</head>
<body>
<div class=" h-screen relative overflow-hidden">
{{!-- full page  --}}

<img src="/data/assets/rocket.gif" class="absolute right-[-25%] bottom-[-25%] w-[900px]">
{{!-- img  --}}
{{!-- img  --}}


            {{!-- logo  --}}
            <div class="px-[50px] py-[10px] bg-black"><h1 class="text-[40px] font-semibold tracking-[2px] text-white">Open<span id="header-text">Space</span></h1></div>
            {{!-- logo  --}}
        <div class="margin-fixed flex flex-col">
<br>   
<br>

             <div class="flex flex-col h-full gap-y-[35px]">
                 {{!-- something  --}}
                    {{!-- title  --}}
                    <div>
                        <h1 class="text-[80px] plex-sans font-extrabold tracking-[0px] leading-[85px]" style="word-spacing: -20px;">YOU are only a step <br> close!</h1>
                    </div>
                    {{!-- title  --}}

                    {{!-- describe  --}}
                    <div>
                    <p class="plex-sans text-[25px]">Find people nearby for your open <br> science and open-source projects</p>
                    </div>
                    {{!-- describe  --}}

                    {{!-- inputs --}}
                    <div class="flex flex-col gap-6"> 
                        <input class="w-[350px] p-[15px] px-[20px] pl-[30px] rounded-full text-[19px] outline-none border-black border-[1px] text-black" placeholder="Email address" type="email">
                        <input class="w-[350px] p-[15px] px-[20px] pl-[30px] rounded-full text-[19px] outline-none border-black border-[1px] text-black" placeholder="password" type="password">
                    {{!-- inputs --}}
                    </div>

                    {{!-- button  --}}
                    <div class="flex flex-col w-[200px] items-start gap-4">
                        <button class="p-3 px-5 bg-black w-[200px] text-[22px] font-bold rounded-full text-white font-mono font-medium">Login</button>
                        <div class="w-full flex justify-center">
                        <a href="/signup" class="underline text-center">New here ? Sign up</a>
                        </div>
                    </div>
                    {{!-- button  --}}




    {{!-- something  --}}
            </div>

        </div>
{{!-- full page  --}}
</div>
</body>
</html>
