<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/data/output.css">
    <link rel="stylesheet" href="/data/css/general.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Keania+One&family=Source+Code+Pro&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@600&family=IBM+Plex+Sans:wght@500&family=Keania+One&family=Montserrat:wght@600&family=Source+Code+Pro&display=swap" rel="stylesheet">
    <title>OpenSpace</title>
</head>
<body>
<div class=" h-screen relative overflow-hidden">

{{!-- img  --}}
<img src="/data/assets/rocket.png" id="rocket_png" class="absolute right-[-10%] bottom-[-20%] w-[900px]">
{{!-- img  --}}


{{!-- full page  --}}
            {{!-- logo  --}}
            <div class="px-[50px] py-[10px] bg-black"><h1 class="text-[40px] font-semibold tracking-[2px] text-white">Open<span id="header-text">Space</span></h1></div>
            {{!-- logo  --}}
        <div class="margin-fixed flex flex-col">
<br>   
<br>

             <div class="flex flex-col h-full gap-y-[35px]">
                 {{!-- something  --}}
                    {{!-- title  --}}
                    <div>
                        <h1 class="text-[120px] font-bold tracking-[5px]">Welcome!</h1>
                    </div>
                    {{!-- title  --}}


                    {{!-- inputs --}}
                    <form action="/signup" method="post" class="flex flex-col gap-5">

                    <div class="flex flex-col gap-6"> 

                        <input name="fullname" class="w-[350px] p-[15px] px-[20px] pl-[30px] rounded-full text-[19px] outline-none border-black border-[1px] text-black" placeholder="First name" required type="text">
                        <input name="lastname" class="w-[350px] p-[15px] px-[20px] pl-[30px] rounded-full text-[19px] outline-none border-black border-[1px] text-black" placeholder="Last name" required  type="text">
                        <input name="email" class="w-[350px] p-[15px] px-[20px] pl-[30px] rounded-full text-[19px] outline-none border-black border-[1px] text-black" placeholder="Email address" required  type="email">
                        <input name="password" class="w-[350px] p-[15px] px-[20px] pl-[30px] rounded-full text-[19px] outline-none border-black border-[1px] text-black" placeholder="Create password" required  type="password">
                    {{!-- inputs --}}
                    </div>

                    {{!-- button  --}}
                    <div class="flex flex-col w-[200px] items-start gap-4">
                        <button type="submit" class="p-3 px-5 bg-black w-[200px] text-[22px] font-bold rounded-full text-white font-mono font-medium">Next</button>
                        <div class="w-full flex justify-center">
                        <a href="/login" class="underline text-center underline">Already have an account?</a>
                        </div>
                    </div>
                    {{!-- button  --}}
                    </form>




        </div>
{{!-- full page  --}}
</div>

<script src="/data/js/landing.js"></script>
</body>
</html>
